/* overwrite these at points in the tree */
:root {
  --space: 1ch;
}

/* stack definitions */
/* vertical */
.vstack {
  display: flex;
  flex-direction: column;
  /* TODO maybe add justify and always start in the middle, check in conjunction with what belongs on the body */
  align-items: center;
  min-height: 100%;
  justify-content: center;
}

.vstack > * {
  padding: calc(var(--space) * 0.5) var(--space);
}

/* horizontal */
.hstack {
  display: flex;
  /* not sure why this needs width 100% but vstack is flex grow */
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hstack > * {
  padding: var(--space) calc(var(--space) * 0.5);
}

/* z-axis */
.zstack {
  display: grid;
  align-items: center;
  justify-items: center;
  /* TODO remove fixed size. though i think we need it */
  grid-template-columns: fit-content(536px);
}
.zstack > * {
  grid-area: 1/1/1/1;
}

/* alignment */
.vstack.right {
  align-items: end;
}
.vstack.left {
  align-items: start;
}

.hstack.top {
  align-items: start;
}
.hstack.bottom {
  align-items: end;
}

/* TODO maybe call this self-left children-left above */
/* same right as child of zstack */
/* but self letf on vstack probably solved with hstacks */
.zstack > .left {
  justify-self: left;
  margin-left: 0.5ch;
}
.zstack > .right {
  justify-self: right;
  margin-right: 0.5ch;
}
.zstack > .bottom {
  align-self: end;
  margin-bottom: 0.5ch;
}
.zstack > .top {
  align-self: start;
  margin-top: 0.5ch;
}

/* ---------------------- TODO */
/* Color/SVG/ can be cover element */
/* http://defagos.github.io/understanding_swiftui_layout_behaviors/ */

.vstack > *.cover {
  align-self: stretch;
}

.hstack > *.cover {
  align-self: stretch;
}
.zstack > .cover {
  width: 100%;
  height: 100%;
}

.vstack > *.spacer {
  flex-grow: 1;
}
.hstack > *.spacer {
  flex-grow: 1;
}
/* There is no z-stack spacer */

/* rectangle/color should be stretch/cover already */

.vstack > .divider {
  height: 2px;
  width: 75%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0.5ch auto;
}

/* stack sparse/loose/normal/tight/none could be margin not padding then this wouldn't be needed */
/* all cover would just have a margin 0 */
/* This is getting rather too contextual now */
.vstack.right > *.divider {
  margin-right: 1ch;
}

/* This is getting rather too contextual now */
.vstack.left > *.divider {
  margin-left: 1ch;
}

.hstack > .divider {
  width: 2px;
  background-color: white;
  padding: 0;
  min-height: 1em;
  margin: 1ch 0.5ch;
  /* height: 2px; */
  /* width: 151%; */
  /* margin: auto; */
}
/* text grows */
